.header {
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    &__logo {
        color: var(--color-text-primary);
        text-align: left;

        h1 {
            font-size: 20px;
            line-height: 18px;
            font-weight: 700;
            text-transform: capitalize;
        }
    }

    &__menu {
        display: flex;
        gap: 20px;

        &-item {
            list-style: none;

            a {
                color: var(--color-text-primary);
                text-decoration: none;
                font-size: 16px;
                line-height: 14px;
                font-weight: 400;
                text-transform: capitalize;
                cursor: pointer;
                transition: transform 0.3s ease-in-out;
                // display: inline-block;

                &:hover {
                    color: var(--color-text-secondary);
                    // transform: scale(1.2);
                }
            }
        }
    }
}