.navigation{

    button{
        display: none;
        align-items: center;
        border: none;
        outline: none;
        color: transparent;
        cursor: pointer;
        border-radius: 50%;
        width: 35px;
        height: 35px;

        position: fixed;
        margin-bottom: 10px;
        bottom: 0;
        right: 0;
        transform: translateX(-50%);
        z-index: 99;
        

        img{
            transition: transform 0.5s ease-in-out;
            
            &:hover{
                transform: translateY(-30%);
            }
        }
    }
}